@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

VBox {
    -fx-background-color: #83C5BE;


}

#labels {
-fx-alignment: center;}

.button {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-fill: #006D77;
    -fx-font-family: 'Quicksand', serif;
}

.button:hover {
  -fx-text-fill: #EDF6F9;
}

.label {
    -fx-font-size: 15px;
    -fx-text-fill: #FFDDD2;

}

#titleLabel {
    -fx-font-size: 30px;
    -fx-text-fill: #e29578
}

.list-cell {
    -fx-font-family: 'Quicksand';
    -fx-background-color: #83C5BE;
    -fx-border: none;
    -fx-font-size: 15px;
}

.list-view {
   -fx-background-insets: 0;
    -fx-padding: 0;}

#addToQueueButton {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
<<<<<<< Updated upstream
}
=======
}

#titleYear {
-fx-font-size: 2em;
    -fx-text-fill: #006D77;
    -fx-text-weight: bold;
    -fx-font-family: 'Quicksand', serif;
}

.ListView {
-fx-font-size: 15px;
-fx-text-weight: 600}

.remove-button {
 -fx-font-size:15px;
 }

 #queueItems {
   -fx-font-size: 20px;
   }
>>>>>>> Stashed changes
